<%= form_with(model: user) do |form| %>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :avatar_url %>
    <%= form.text_field :avatar_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
