<%= form_with(model: ocrtracker) do |form| %>
  <% if ocrtracker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ocrtracker.errors.count, "error") %> prohibited this ocrtracker from being saved:</h2>

      <ul>
        <% ocrtracker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :W.I.P %>
    <%= form.text_field :W.I.P %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
