<p id="notice"><%= notice %></p>

<h1>Ocrtrackers</h1>
<h1>This is a test</h1>

<table>
  <thead>
    <tr>
      <th>W.i.p</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ocrtrackers.each do |ocrtracker| %>
      <tr>
        <td><%= ocrtracker.W.I.P %></td>
        <td><%= link_to 'Show', ocrtracker %></td>
        <td><%= link_to 'Edit', edit_ocrtracker_path(ocrtracker) %></td>
        <td><%= link_to 'Destroy', ocrtracker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ocrtracker', new_ocrtracker_path %>
