<p id="notice"><%= notice %></p>

<p>
  <strong>W.i.p:</strong>
  <%= @ocrtracker.W.I.P %>
</p>

<%= link_to "Sign Out", destroy_user_session_path %>

<%= link_to 'Edit', edit_ocrtracker_path(@ocrtracker) %> |
<%= link_to 'Back', ocrtrackers_path %>
