<h1><%= @workout_post.title %></h1>
<%= form_with url:"/submissions/create", method: :post do |ws_form| %>

    <%= ws_form.hidden_field :workout_post_id, value: @workout_post.id %>

    <% @workout_post.exercise_posts.each do |ep| %>
        <p>Exercise title: <%= ep.exercise.title %></p>
        <p>Exercise description: <%= ep.exercise.description %></p>
        <p>Specific instructions: <%= ep.specific_instructions %></p>
        <p>Unit for submission: <%= ep.exercise.humanized_unit_name %></p>
        <%= ws_form.fields_for :exercise_submission, index: ep.id, builder: SubmissionsFormBuilder do |es_form| %>
            <%= es_form.text_or_time_field :unit_value, unit_name: ep.exercise.unit_name %>
        <% end %>
    <% end %>

    <div class="actions">
        <%= ws_form.submit "Submit"%>
    </div>

<% end %>


