<h1><%= @workout_post.title %></h1>
<%= form_with url:"/submissions/create", method: :post do |ws_form| %>

    <% @workout_post.exercise_posts.each do |ep| %>
        <%= ep.exercise.title %>
        <%= ep.exercise.unit_name %>
        <%= ep.specific_instructions %>
        <% es = ExerciseSubmission.new(exercise_post: ep) %>
        <%= ws_form.fields_for es, index: ep.id do |es_form| %>
     
            <%= es_form.text_field :unit_value %>
        <% end %>
    <% end %>

    <div class="actions">
        <%= ws_form.submit %>
    </div>

<% end %>


