<!DOCTYPE html>
<html>

    <head>
    <%= stylesheet_link_tag  'submissions', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>

    <body id="submissions-page">
        <br>
        <h1>New Workout Submission</h1>
        <br>
        <div class="container">
            <h2><%= @workout_post.title %></h2>
            <br>
            <%= form_with url:"/submissions/create", method: :post do |ws_form| %>

                <%= ws_form.hidden_field :workout_post_id, value: @workout_post.id %>

                <% @workout_post.exercise_posts.each do |ep, index| %>
                    <p><b>Exercise: <%= ep.exercise.title %></b></p>
                    <p id="label">Description: <%= ep.exercise.description %></p>
                    <p id="label">Instructions: <%= ep.specific_instructions %></p>
                    <p id="label">Unit: <%= ep.exercise.humanized_unit_name %></p>
                    <p id="label"><%= ws_form.fields_for :exercise_submission, index: ep.id, builder: SubmissionsFormBuilder do |es_form| %>
                        <%= es_form.text_or_time_field :unit_value, unit_name: ep.exercise.unit_name %>
                        <% if ep.is_ranked %>
                            <p id="label">Opt out: <%= es_form.check_box :opt_out %></p>
                        <% else %>
                            <p>Not ranked</p>
                        <%end%>
                    <% end %>
                    </p>
                    <br>

            <% end %>
                
            <div class="actions">
                <%= ws_form.submit "Submit", :class => "universal-button"%>
            </div>

            <% end %>
        </div>

        <div class="back-btn">
            <%= link_to 'Back', '/'  %>
        </div>
    </body>
    
</html>
