<%= form_with url:"/permissions", method: :post do |perm_form| %>
<h1>Permissions</h1>
<%#https://stackoverflow.com/questions/34751453/sort-html-table-alphabetically-on-page-load%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
  var mylist = $('#userTable');
  var listitems = mylist.find('tr');
  listitems.sort(function(a, b) {
     return $(a).text().toUpperCase().localeCompare($(b).text().toUpperCase());
  })
  $.each(listitems, function(idx, itm) { mylist.append(itm); });
</script>
<input type="text" id="inputName" onkeyup="searchName()" placeholder="Search by TAMU email" title="Type in a name">
<table id="userTable">
  <tr>
   <th>Email</th>
   <th>Name</th>
   <th>Is Admin?</th>
 </tr>
  <% @users.each do |user| %>
    <%= perm_form.fields_for user, index: user.id, method: :post do |p_fields|%>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.full_name %></td>
      <td><%= p_fields.check_box :is_admin %></td>
    </tr>
    <% end %>
  <% end %>
</table>
  <div class="actions">
      <%= perm_form.submit "Save Changes"%>
  </div>
<% end %>
<%= link_to 'Back', '/'  %>

<%#https://www.w3schools.com/howto/howto_js_filter_table.asp %>
<script>
function searchName() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("inputName");
  filter = input.value.toUpperCase();
  table = document.getElementById("userTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
