<!DOCTYPE html>
<html>

    <head>
    <%= stylesheet_link_tag  'permissions', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
    
    <body id="submissions-page">
    <%= form_with url:"/permissions", method: :post do |perm_form| %>
        <br>
        <h1 style="color: black">Permissions</h1>
        <br>
        <div class="container">
            <br>
            <input type="text" size="30" style="margin-bottom: 3%; border-radius: 10px; border: none;" id="inputName" onkeyup="searchName()" placeholder=" Search by TAMU email" title="Type in a name">
            <table id="userTable">
              <tr>
              <th style="width:20%">Email</th>
              <th style="width:20%">Name</th>
              <th style="width:20%">Is Admin?</th>
            </tr>
              <% @users.each do |user| %>
                <%= perm_form.fields_for user, index: user.id, method: :post do |p_fields|%>
                <tr>
                  <td><%= user.email %></td>
                  <td><%= user.full_name %></td>
                  <td><%= p_fields.check_box :is_admin %></td>
                </tr>
                <% end %>
              <% end %>
            </table>   
        </div>
        <div class="back-btn">
            <%= link_to 'Back', '/'  %>
        </div>
      <% end %>
    </body>
    
</html>

<script>
function searchName() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("inputName");
  filter = input.value.toUpperCase();
  table = document.getElementById("userTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
