<!DOCTYPE html>
<html>

    <head>
        <%= stylesheet_link_tag  'leaderboard', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>

    <body id="leaderboard">
        <br>
        <h1> Leaderboard for <%=@current_wod.title%></h1>
        <br>

        <div class="container">
            <nav>
                <div class = "nav nav-tabs" id ="nav-tab" role="tablist" style>
                    <% @ranked_eps.each_with_index do |ranked_ep, index|%>
                        <button class="nav-link <%= 'active' unless index != 0%>" id="<%= ranked_ep.id%>" data-bs-toggle="tab" data-bs-target="#<%= "ep_#{ranked_ep.id}"%>" type="button" role="tab" aria-controls="<%= "ep_#{ranked_ep.id}"%>" aria-selected="<%= index == 0? 'true' : 'false'%>">
                                <%= ranked_ep.exercise.title %>
                        </button>
                    <% end %>
                </div>
            </nav>

            <div class="tab-content">
                <% @ranked_eps.each_with_index do |ranked_ep, index|%>


                        <div class = "tab-pane fade <%= 'show active' unless index != 0%>" id="<%= "ep_#{ranked_ep.id}"%>" role="tabpanel" aria-labeledby="<%= "ep_#{ranked_ep.id}"%>">
                            <table>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Score</th>
                                    <th></th>
                                </tr>
                                <%ranked_ep.submissions_where_not_opted_out.each do |es|%>

                                    <tr>
                                    <td>
                                      <% if es.user.image.attached? %>
                                        <%= image_tag es.user.image, style: "width: 100px; display: block" %>
                                      <% else %>
                                        <img src= <%= es.user.avatar_url%> height="100" width="100"/>
                                      <% end %>
                                    </td>
                                    <td><%= link_to "#{es.user.full_name}", "/profiles/#{es.user.id}"%></td>
                                    <td><%= es.humanized_unit_value%></td>
                                    <td>
                                      <span <%= es.exercise_post_id %>>
                                        <%= es.get_likes.size %> &#128077
                                      </span>

                                      <a>
                                        <% if current_user.liked? es %>
                                        <div><%= link_to 'Fistbumpt', leaderboard_unlike_path(es), method: :post %></div>
                                        <% else %>
                                        <div><%= link_to 'Fistbump', leaderboard_like_path(es), method: :post %></div>
                                        <% end %>
                                      </a>
                                    </td>
                                    </tr>

                                <%end%>
                            </table>

                        </div>

                <% end %>
            </div>
        </div>
    </body>
</html>
