<h1>You're logged in! Welcome to the Admin Dashboard!</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>W.i.p:</strong>
  <%= @ocrtracker.W.I.P %>
  <%= link_to "Sign Out", destroy_admin_session_path %>
</p>

<%= link_to 'Edit', edit_ocrtracker_path(@ocrtracker) %> |
<%= link_to 'Back', ocrtrackers_path %>
