
<%= form_with model: WorkoutPost.new, url:"/posts/create", method: :post do |wp_form| %>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <%= wp_form.label :title, "Title"%>
            <%= wp_form.text_field :title%>
        </div>

        <div class="col-sm">
            <div class='new_exercise_posts'>
                <input type="button" id = "new_exercise" value="Add Exercise" class="universal-button">
                <div id="1" style="padding-bottom: 5%">
                    <hr>
                    <%= wp_form.fields_for ExercisePost.new, index:1 do |ep_form|%>

                        <%= ep_form.label :exercise_id, "Exercise"%>
                        <%= ep_form.select(:exercise_id, Exercise.all.collect {|e| ["#{e.title}: #{e.humanized_unit_name}", e.id]},  {prompt: "Select"}, {class: 'form-control'}) %>
                        <br>
                        <%= ep_form.label :specific_instructions, "Specific instructions"%>
                        <br>
                        <%= ep_form.text_area :specific_instructions, style: 'width: 80%'%>
                        <br>
                        <%= ep_form.label :is_ranked, "Ranked"%>
                        <%= ep_form.check_box :is_ranked%>
                        <br>

                    <% end %>
                    <input type="button" onclick="delete_exercise(this)" value="Delete Exercise" class="universal-button">
                </div>
            </div>
        </div>
        <div class="actions">
            <%= wp_form.submit %>
        </div>
    </div>
</div>

<% end %>

<script>

    document.getElementById("new_exercise").onclick = function() {

        original = document.getElementsByClassName("new_exercise_posts")[0].cloneNode(true)
        last_index = original.childNodes.length
        if(last_index>5){
            duplicate = original.childNodes[last_index-1].cloneNode(true)
            old_index = document.getElementsByClassName("new_exercise_posts")[0].childNodes[last_index-1].id
        }
        else{
            if(original.childNodes[last_index-1].nodeType !== 3){
                duplicate = original.childNodes[last_index-1].cloneNode(true)
                old_index = document.getElementsByClassName("new_exercise_posts")[0].childNodes[last_index-1].id
            }
            else{
                duplicate = original.childNodes[last_index-2].cloneNode(true)
                old_index = document.getElementsByClassName("new_exercise_posts")[0].childNodes[last_index-2].id
            }
        }
        new_index= parseInt(old_index, 10) + 1
        duplicate.id = new_index.toString()
        duplicate.childNodes.forEach(node => {
            if(node.nodeType == 1){
                if(node.attributes[0]!==undefined){
                    node.attributes[0].value = node.attributes[0].value.replace(old_index, new_index.toString())
                }
                if(node.id!==undefined){
                    node.id = node.id.replace(old_index, new_index.toString())
                    if(node.id.includes("specific_instructions")){
                        node.value = ""
                    } 
                    if(node.id.includes("is_ranked")){
                        node.checked = false
                    }
                }
                if(node.name!==undefined){
                    node.name = node.name.replace(old_index, new_index.toString())
                }

            }

        })
        document.getElementsByClassName("new_exercise_posts")[0].append(duplicate)
    };

    delete_exercise = function(e) {
        original = document.getElementsByClassName("new_exercise_posts")[0]
        last_index = original.childNodes.length
        if(last_index>5){    
            document.getElementById(e.parentNode.id).remove()
        }
    };

</script>
