<%= form_with url:"/posts/#{editing ? 'update' : 'create'}", method: :post do |wp_form| %>

    <%= wp_form.hidden_field :workout_post_id, value: @workout_post.id %>
    
    <h2 style="text-align: center;">
        <%= wp_form.label :title, "Title"%>
        <%= wp_form.text_field :title, class: 'form-control', required: true, value: @workout_post.title%>
    </h2>

    <hr>
    <div class='new_exercise_posts'>
        
        <% if editing %>
            <input type="button" class ="universal-button" id = "new_exercise" value="Add" name= "<%=@workout_post.exercise_posts.first.id%>">
            <% @workout_post.exercise_posts.each do |ep| %>
                <div id= "<%=ep.id%>">
                    <%= wp_form.fields_for ep, index:ep.id do |ep_form|%>
                    <br>
                    <p>
                        <%= ep_form.label :exercise_id, "Exercise"%>
                        <%= ep_form.select(:exercise_id, @exercises.collect {|e| ["#{e.title}: #{e.humanized_unit_name}", e.id]},  {prompt: "Select"}, class: 'form-control', required: true) %>
                    </p>

                    <p>
                        <%= ep_form.label :specific_instructions, "Specific Instructions"%>
                        <%= ep_form.text_area :specific_instructions, class: 'form-control', required: true%>
                    </p>
                    <p>
                        <%= ep_form.label :is_ranked, "Ranked"%> 
                        <%= ep_form.check_box :is_ranked%>
                    </p>
                    <% end %>
                    <input type="button" class ="universal-button" onclick="delete_exercise(this)" value="Delete">
                </div>
            <% end %>
        <% else %>
            <input type="button" class ="universal-button" id = "new_exercise" name = "1" value="Add">
            <div id="1">
                <%= wp_form.fields_for ExercisePost.new, index:1 do |ep_form|%>
                    <br>
                    <p>
                        <%= ep_form.label :exercise_id, "Exercise"%>
                        <%= ep_form.select(:exercise_id, @exercises.collect {|e| ["#{e.title}: #{e.humanized_unit_name}", e.id]},  {prompt: "Select"}, class: 'form-control', required: true) %>
                    </p>

                    <p>
                        <%= ep_form.label :specific_instructions, "Specific Instructions"%>
                        <%= ep_form.text_area :specific_instructions, class: 'form-control', required: true%>
                    </p>

                    <p>
                        <%= ep_form.label :is_ranked, "Ranked"%> 
                        <%= ep_form.check_box :is_ranked%>
                    </p>

                <% end %>
                <input type="button" class ="universal-button" onclick="delete_exercise(this)" value="Delete">
                
            </div>
        <% end %>
        

    </div>


    <div class="row">
        <div class="actions col-12 d-flex justify-content-end">
        <% if editing %>
            <%= wp_form.submit "Edit Workout Post", :class => "universal-button"%>
        <% else %>
            <%= wp_form.submit "Create Workout Post", :class => "universal-button"%>
        <% end %>
        </div>
    </div>

<% end %>

<script>

    document.getElementById("new_exercise").onclick = function(event) {

        firstIndex = event.target.name;
        duplicate = document.getElementById(firstIndex).cloneNode(true);

        for(var i=1; i<4; i++) {
            var node = duplicate.children[i];

            for(var j=0; j<node.children.length; j++){

                child = node.children[j];

                // using time stamp so ids will be unique without having to keep track
                var new_index = new Date().getTime();
                if(child.attributes[0]!==undefined && child.attributes[0].localName != 'name'){
                    child.attributes[0].value = child.attributes[0].value.replace(firstIndex, new_index.toString())
                }
                if(child.id!==undefined){
                    child.id = child.id.replace(firstIndex,new_index.toString());
                }
                if(child.name!==undefined){
                    child.name = child.name.replace(firstIndex,new_index.toString());
                }

                if(child.id.includes("is_ranked")){
                    child.checked = false
                }
                else if(child.value){
                    child.value = '';
                }
                node.children[j] = child
            };

        }

        duplicate.id = new_index;

        document.getElementsByClassName("new_exercise_posts")[0].append(duplicate)
    };

    delete_exercise = function(e) {
        original = document.getElementsByClassName("new_exercise_posts")[0]
        last_index = original.childNodes.length
        if(last_index>5){    
            document.getElementById(e.parentNode.id).remove()
        }
    };

</script>



