
<%= form_with model: WorkoutPost.new, url:"/posts/create", method: :post do |wp_form| %>


    <%= wp_form.label :title, "Title"%>
    <%= wp_form.text_field :title%>

    <div class='new_exercise_posts'>
   <!-- <input type="button" id = "new_exercise" value="new"> -->
        <div id="1">
        <%= wp_form.fields_for ExercisePost.new, index:1 do |ep_form|%>

            <%= ep_form.label :exercise_id, "Exercise"%>
            <%= ep_form.select(:exercise_id, Exercise.all.collect {|e| [e.title, e.id]},  {prompt: "Select"}, {class: 'form-control'}) %>
            <br>
            <%= ep_form.label :specific_instructions, "Specific instructions"%>
            <%= ep_form.text_field :specific_instructions%>
            <br>
            <%= ep_form.label :is_ranked, "Ranked?"%>
            <%= ep_form.check_box :is_ranked%>
            <br>

        <% end %>
        <%= wp_form.fields_for ExercisePost.new, index:2 do |ep_form|%>

            <%= ep_form.label :exercise_id, "Exercise"%>
            <%= ep_form.select(:exercise_id, Exercise.all.collect {|e| [e.title, e.id]},  {prompt: "Select"}, {class: 'form-control'}) %>
            <br>
            <%= ep_form.label :specific_instructions, "Specific instructions"%>
            <%= ep_form.text_field :specific_instructions%>
            <br>
            <%= ep_form.label :is_ranked, "Ranked?"%>
            <%= ep_form.check_box :is_ranked%>
            <br>

        <% end %>
        </div>

    </div>


    <div class="actions">
        <%= wp_form.submit %>
    </div>

<<<<<<< HEAD
<% end %>

<script>

    document.getElementById("new_exercise").onclick = function() {

        original = document.getElementsByClassName("new_exercise_posts")[0].cloneNode(true)
        original.childNodes.forEach(element => {
            element.setAttribute("name", element.getAttribute("name").replace("1", "2"))
            element.id.replace("1", "2")
        });

        document.getElementsByTagName("form")[0].append(
            original

        );
    };


</script>
=======
<% end %>
>>>>>>> 9645f30515eed86ee65f4943cf8cf17dbfec771b
