<!DOCTYPE html>
<html>

  <head>
      <%= stylesheet_link_tag  'exercises', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="exercises">
    <h1>Exercises</h1>

    <div class="container-fluid">
      <div class = "row">

        <div class="col-1 col-lg-2">
          <br>
        </div>

        <div class="content col-10 col-lg-8">
          <%= button_to "New Exercise", new_exercise_path, :method => "get",:class => "universal-button", :style => "" %>
          <%=="<a class='float-end' href='#{archived_exercises_path}'> View archived exercises</a> "%>
          <%# button_to "View archived exercises", archived_exercises_path, :method => "get",:class => "universal-button float-end", :style => "" %>
          <br>
          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th style="text-align:center">Title</th>
                  <th style="text-align:center">Unit Name</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @exercises.each do |exercise| %>
                  <tr style='border-bottom: 1px solid #ffffff;'>
                    <td style="text-align:center"><%= exercise.title %></td>
                    <td style="text-align:center"><%= exercise.humanized_unit_name %></td>
                    <td class="text-center">
                    <%= button_to "Show", exercise_path(exercise), :method => "get",:class => "universal-button"%>
                    <%= button_to "Edit", edit_exercise_path(exercise), :method => "get",:class => "universal-button"%>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-1 col-lg-2">
          <br>
        </div>

      </div>

    </div>
  </body>
</html>
