<!DOCTYPE html>
<html>

  <head>
      <%= stylesheet_link_tag  'exercises', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="exercises">
    <br>
    <h1>Exercise Information</h1>
    <br>
    <div class="container" id="show">
      <br>
      <p>
        <strong>Title:</strong>
        <%= @exercise.title %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @exercise.description %>
      </p>
      <p>
        <strong>Picture:</strong>
        <% if @exercise.image.attached? %>
          <%= image_tag @exercise.image, style: "width: 100px; display: block" %>
        <% end %>
      </p>
      <p>
        <strong>Unit Name:</strong>
        <%= @exercise.humanized_unit_name %>
      </p>

      <%= link_to 'Edit', edit_exercise_path(@exercise) %> |
      <%= link_to 'Back', exercises_path %>
      <br>
    </div>
  </body>
</html>