<h1>View WODs</h1>

<% @workout_posts.each do |wp| %>

    <h3>

    <% if wp == @workout_posts.first %>
        <%=="<a href='#{new_submission_path(wp)}'>#{wp.title}</a> (current WOD)" %>
    <% else %>
        <%=wp.title%>
    <% end %>
    
    </h3>

    <%=wp.wod_date%>

    <% wp.exercise_submissions_to_this_post_for_current_user(current_user).each do |es| %>
        <h5><%=es.exercise.title%></h5>
        <p><%="#{es.exercise.unit_name}: #{es.unit_value}"%></p>
    <% end %>
    

<% end %>
